

.btn {
  width: 100px;
  height: 30px;
  border-radius: 7px;
  background: linear-gradient(90deg, rgb(241, 244, 248) 30%, rgb(149, 159, 167) 100%);
  color: black;
  cursor: pointer;

  &:hover {
    // opacity: 85%;
    // background-color: linear-gradient(90deg, grey, green);
    transform: scale(1.03);
  }
}

.board__column {
  display: flex;
  justify-content: space-between;
  
}

.board__title {
  width: 100%;
  padding: 10px;
  text-align: center;
  border: 2px solid rgb(38, 38, 124);
}

.board__desk {
  width: 100%;
  padding: 10px;
  border: 2px solid rgb(38, 38, 124);
  min-height: 200px;
}

.board__task {
  background-color: rgb(132, 132, 218);
  list-style: none;

  &_blue {
    background-color: rgb(85, 108, 243);
    list-style: none;
  }

  &_red {
    background-color: rgb(236, 58, 58);
    list-style: none;
  }
}

.board__task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 5px;
}

.board__wrapper-desk {
  padding-left: 10px;
}

.board__deleteTask {
  width: 25px;
  height: 25px;
  margin: 5px;
}

.board__changeTask {
  width: 25px;
  height: 25px;
}

.board__btn {
  margin-top: 10px;
  margin-left: 5px;
  width: 200px;
}



.form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: green;
}

.form__wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  width: 600px;
  height: 360px;
  margin: -200px 0 0 -300px;
  background-color: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
  z-index: 2;
}

.form__overloy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  z-index: 0;
}

.form__desc {
  margin-bottom: 10px;
}

.form__input {
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 5px;
  min-height: 30px;
  width: 98%;
}

.form__select--wrapper {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form__select {
  width: 100%;
  min-height: 25px;
  margin-bottom: 25px;
}

.form__btn--wrapper {
  display: flex;
  justify-content: center;
  gap: 10px
}
