$color-border: rgb(78, 67, 67);

.board {
  border-collapse: collapse
}

.kanban_title {
  margin: 20px auto 10px auto;
  width: 250px;
  font-size: 38px;
  color: rgb(59, 51, 51);
}

.board__btn_wrapper {
  width: 510px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.btn {
  border-radius: 8px;
  background: linear-gradient(90deg, rgb(241, 244, 248) 30%, rgb(149, 159, 167) 100%);
  color: black;
  cursor: pointer;
  border: 2px solid $color-border;

  &:hover {
    transform: scale(1.03);
  }
}

.board__btn {
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  height: 35px;
  width: 250px;
}

.board__column {
  display: flex;
  justify-content: space-between;
  
}

.board__title {
  width: 100%;
  padding: 10px;
  margin: 0;
  text-align: center;
  border: 2px solid $color-border;
}

.board__desk {
  width: 100%;
  padding: 10px;
  margin: 0;
  border: 2px solid $color-border;
  min-height: 200px;
  
}

.board__task {
  background-color: rgb(132, 132, 218);
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 5px;
  
  &_blue {
    background-color: rgb(85, 108, 243);
    list-style: none;
  }
  
  &_red {
    background-color: rgb(236, 58, 58);
    list-style: none;
  }
  
  &_completed &_title, &_completed &_desk {
    text-decoration: line-through;
  }
  
  &_wrapper {
    padding-left: 10px;
  }

  &_wrapper_btn {
    display: flex;
    justify-content: space-between;
    margin: 5px;
  }

  &_delete {
    width: 25px;
    height: 25px;
    margin-left: 3px;
  }

  &_change {
    width: 25px;
    height: 25px;
  }

  &_deadline_wrapper {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  &_deadline {
    margin: 0;
    padding: 0;
  }

  &_ready {
    margin: 0;
    margin-left: 15px;
    padding: 0;
    color: rgb(137, 240, 96);
    font-size: 18px;
  }
  
  &_deadline_end {
    background-color: rgb(128, 33, 33);
    padding: 5px;
    border-radius: 7px;
  }

  &_status {
    margin-bottom: 8px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
    background: linear-gradient(90deg, rgb(241, 244, 248) 30%, rgb(149, 159, 167) 100%);
  }

}






.form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: green;
}

.form__wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  width: 600px;
  height: 360px;
  margin: -200px 0 0 -300px;
  background-color: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
  z-index: 2;
}

.form__overloy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  z-index: 0;
}

.form__desc {
  margin-bottom: 10px;
}

.form__input {
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 5px;
  min-height: 30px;
  width: 98%;
}

.form__select--wrapper {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form__select {
  width: 100%;
  min-height: 25px;
  margin-bottom: 25px;
}

.form__btn--wrapper {
  display: flex;
  justify-content: center;
  gap: 10px
}

.form__btn {
  border-radius: 10px;
  height: 30px;
  width: 200px;
}